.card {
    width: 270px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 14px;
    border: 1px solid lightgray;
}

.card-img {
    width: 100%;
    border-radius: 14px;
}

.card-header {
    position: relative;
}

.offer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:blue;
    color: white;
    font-size: 13px;
    margin-bottom: 15px;
}

.time{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    color: black;
    padding: 0px 6px;
    margin: 15px;
    border-radius: 4px;
}

.promotion{
    position: absolute;
    top: 0;
    background-color: gray;
    color: rgb(218, 218, 218);
    padding: 0px 4px;
    font-size: 14px;
    margin: 10px;
    border-radius: 4px;
}

.del-saf{
    height: 25px;
    width: 50px;
    margin-top: 15px;
}

.box{
    border-top: 2px solid gray;
}

.text{
    padding-left: 60px;
    margin-top: -33px;
    color: gray;
    font-size: 14px;
}

.name{
    color: gray;
}